

.clear {
    clear: both;
}

.buddyProfiles {
    text-align: center;
    background-color: #FFAAAA;
}

.buddyDescription {
    text-align: center;
    background-color: #AAFFAA;
}

.buddyProfiles img {
    display: inline-block;
    margin: 20px;
}

#otherProfile {
    display: inline-block;
    height: 100px;
    width: 100px;
}

#activeProfile {
    display: inline-block;
    height: 200px;
    width: 200px;
}
